:root
{
    --primary-color:#ee4b2b;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --yellow-color:#ffce3d;

    --header-height:120px;
    --navbar-height:36px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}

*
{
    box-sizing: inherit;
}

html
{
    /* tương đương 10px */
    font-size: 62.5%;
    /* tương đương 16px */
    line-height: 1.6rem;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

/* Dùng chung */



/* ------------------------------------------------------------ */

.grid
{
    /* màn to hơn 1200px thì tối đa chỉ hiển thị 1200px */
    width: 1200px;
    /* bé hơn 1200px thì hiểu thị 100% */
    max-width: 100%;
    /* canh giữa */
    margin: 0 auto;
}

.grid__full-width
{
    width: 100%;
}

.grid__row
{
    /* hàng ngang */
    display: flex;
    /* xuống dòng */
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2
{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.66666%;
}

.grid__column-2-4
{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10
{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33333%;
}

/* Animation */
@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes scale
{
    from
    {
        transform: scale(var(--scale-form));
    }
    to
    {
        transform: scale(var(--scale-to));
    }
}

/* modal */
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__body
{
    --scale-form:0.5;
    --scale-to:1;
    margin: auto;
    z-index: 1;
    position: relative;
    border-radius: 8px;
    animation: scale linear 0.1s;
} 

/* button */

.btn
{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border:none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor:pointer;
    /* background-color: transparent; */
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--size-s
{
    height: 32px;
    border-radius: 2px;
    padding: 0 8px;
}

.btn.btn--hover-normal:hover
{
    background-color: rgba(0, 0, 0, 0.05);
}

/* Khi nào trong một class có cả 2 thì mới chạy */
.btn.btn--primary
{
    color: var(--white-color);
    background-color: var(--primary-color);
}


/* selection input */

.select-input
{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: space-between;
    min-width: 200px;
    height: 36px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.select-input__label
{
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input__icon 
{
    font-size: 1.2rem;
    color: #b8b8b8;
}

.select-input:hover .select-input__list
{
    display: block;
}

.select-input__list
{
    position: absolute;
    top: 28px;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    padding-left: 0;
    list-style: none;
    display: none;
    animation: fadeIn linear 0.1s;
    z-index: 1  ;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.select-input__list::before
{
    content: "";
    position: absolute;
    top: -5px;
    width: 100%;
    height: 10px;
}

.select-input__item
{
    padding: 12px 12px;
}

.select-input__link
{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.select-input__link:hover
{
    color: var(--primary-color);
}

