/* tablet and mobile */
@media (max-width:1023px)
{
    :root
    {
        --header-height:68px;
        --navbar-height:0px;
    }

    .hide-on-tablet-mobile
    {
        display: none;
    }

    .header
    {
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header__search-history-item a
    {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .header__cart-list
    {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 654px)/2);
    }

    .header__cart-list::before
    {
        display: none;
    }

    .header__cart-list-products
    {
        max-height: 40vh;
    }

    .header__cart-item-remove
    {
        font-size: 1.8rem;
    }

    /* header sort bar */
    .header__sort-bar
    {
        display: flex;
    }

    /* mobile category */
    
    .mobile-category
    {
        display: block;
    }

    /* App container */

    .app__container
    {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .app__content 
    {
        padding-top: 10px;
    }
    
    /* footer */
    .footer-copyright
    {
        padding-bottom:  10px;
    }

}

/* tablet */
@media (min-width:740px) and (max-width:1023px)
{   
    :root
    {
        --header-height:56px;
        --navbar-height:0;
    }

    .hide-on-tablet
    {
        display: none;
    }
    
    .header
    {
        display: flex;
        align-items: center;
    }

    .header__cart 
    {
        width: 70px;
        display: flex;
        justify-content: right;
    }

    .header__logo
    {
        width: 120px;
    }

    .header__logo-img
    {
        width: 110px;
    }
}

/* mobile */
@media (max-width:739px)
{
    .hide-on-mobile
    {
        display: none;
    }

    .header__mobile-icon
    {
        display: block;
    }

    .header-with-search
    {
        justify-content: space-between;
    }

    .test-cart-more
    {
        display: flex;
        align-items: center;
    }
    .header__logo,
    .header__cart
    {
        width: unset;
        margin-left: auto;
    }

    /* nav mobile */
    .nav-mobile
    {
        padding-left: 20px;
    }

    .overlay
    {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        opacity: 0;
        display: none;
        transition: all linear 0.2s;
    }

    .mobile-input-checkbox:checked  ~ .header__search
    {
        display: flex;
    }

    .mobile-input-more:checked ~ .overlay
    {
        display: block;
        opacity: 1;
    }

    /* checked từ thẻ input không phải từ label */
    .mobile-input-more:checked ~ .nav-mobile .nav-mobile__list
    {
        transform: translateX(0);
        opacity: 1;
        display: block;
    }

    .header__search
    {
        position: fixed;
        top: var(--header-height);
        z-index: 1;
        left: 0;
        right: 0;
        height: var(--header-sort-bar-height);
        padding: 0 16px;
        animation: mobileScroll linear 0.25s;
        display: none;
    }

    @keyframes mobileScroll
    {
        from
        {
            top: calc(var(--header-height) / 2 );
            opacity: 0;
        }
        
        to
        {
            top: var(--header-height);
            opacity: 1;
        }
    }

    .header__search-history
    {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
    }

    .home-product-item__sale-off
    {
        height: 50px;
    }

    .home-product-item__sale-off-label,
    .header__search-option-item-title
    {
        font-size: 1.2rem;
    }

    .nav-mobile 
    {
        display: block;
    }

    .app__content 
    {
        margin: 0 4px;
    }


    /* pagination */

    .home-pagination
    {
        padding-left: 0;

    }

    .pagination-item
    {
        margin: 0;
    }

    /* footer */
    .footer-1
    {
        padding: 0 16px 30px 16px;
    }

    .footer__heading
    {
        text-align: center;
    }

    .footer__download,
    .footer-item__link
    {
        justify-content: center;
    }
}