/* tablet and mobile */
@media (max-width:1023px)
{
    .hide-on-tablet-mobile
    {
        display: none;
    }

    .header
    {
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    
    .header__search-history-item a
    {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .header__cart-list
    {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 654px) /2);
    }

    .header__cart-list-products
    {   
        max-height: 40vh;
    }

    .header__cart-list::before
    {
        display: none;
    }
    
    .header__cart-item-remove
    {
        font-size: 1.8rem;
    }

    .app__container
    {
        margin-top: var(--header-height);
    }

    .footer__download-qr
    {
        width: 80px;    
        height: 80px;
    }

    .footer__download-icon
    {
        height: 15px;
    }
}

/* tablet */
@media (min-width:740px) and (max-width:1023px)
{
    :root
    {
        --header-height:56px;
        --navbar-height:0;
    }

    .hide-on-tablet
    {
        display: none;
    }
    .header 
    {
        display: flex;
        align-items: center;
    }

    .header__logo 
    {
        width: 120px;
    }

    .header__logo-img 
    {
        width: 110px;
    }

    .header__cart 
    {
        width: 70px;
        display: flex;
        justify-content: right;
    }

}

/* mobile */
@media (max-width:739px)
{
    .hide-on-mobile
    {
        display: none;
    }
}
