/* tablet and mobile */
@media (max-width:1023px)
{
    :root
    {
        --header-height:68px;
        --navbar-height:0px;
    }

    .hide-on-tablet-mobile
    {
        display: none;
    }

    .header
    {
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        display: flex;
        align-items: center;
    }
    
    .header__search-history-item a
    {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .header__cart-list
    {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 654px) /2);
    }

    .header__cart-list-products
    {   
        max-height: 40vh;
    }

    .header__cart-list::before
    {
        display: none;
    }
    
    .header__cart-item-remove
    {
        font-size: 1.8rem;
    }

    /* mobile category */

    .mobile-category
    {
        display: block;
    }

    /* header sort bar */
    .header__sort-bar
    {
        display: flex;
    }

    /* app container */

    .app__container
    {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .app__content 
    {
        padding-top: 10px;
    }

    /* footer */

    .footer__download-qr
    {
        width: 80px;    
        height: 80px;
    }


}

/* tablet */
@media (min-width:740px) and (max-width:1023px)
{
    :root
    {
        --header-height:56px;
        --navbar-height:0;
    }

    .hide-on-tablet
    {
        display: none;
    }
    .header 
    {
        display: flex;
        align-items: center;
    }

    .header__logo 
    {
        width: 120px;
    }

    .header__logo-img 
    {
        width: 110px;
    }

    .header__cart 
    {
        width: 70px;
        display: flex;
        justify-content: right;
    }

}

/* mobile */
@media (max-width:739px)
{
    .hide-on-mobile
    {
        display: none;
    }

    .header-with-search
    {
        justify-content: space-between;
    }

    /* lấy checked từ thẻ input, không phải label */
    .mobile-input-search:checked ~ .header__search
    {
        display: flex;
    }

    .header__search
    {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: var(--header-sort-bar-height);
        z-index: 1;
        animation:mobileScroll linear 0.25s;
    }

    .header__search-history
    {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
    }

    .header__cart,
    .header__logo
    {
        width: unset;
        margin-left: auto;
    }

    @keyframes mobileScroll
    {
        from 
        {
            top: calc(var(--header-height ) / 2);
            opacity: 0;
        }

        to 
        {
            top: var(--header-height);
            opacity: 1;
        }
    }

    /* mobile bar */
    .mobile-search,
    .mobile-bar
    {
        display: block;
    }

    .overlay
    {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: none;
        opacity: 0;
        transition: opacity linear 0.2s;
    }

    .mobile-more
    {
        padding-left: 20px;
    }

    .mobile-bar__list
    {
        position: fixed;
        top: var(--header-height);
        right:0 ;
        height: 100vh;
        width: 40vh;
        background-color: var(--white-color);
        z-index: 1;
        list-style: none;
        margin: 0;
        padding-left: 0;
        opacity: 0;
        transform: translateX(100%);
        transition: all linear 0.2s;
    }

    .mobile-bar__item
    {
        padding:20px;
        border-bottom: 1px solid var(--border-color);
    }

    .mobile-bar__item:hover .mobile-bar__link
    {
        color: var(--primary-color);
    }

    .mobile-input-more:checked ~ .mobile-bar .mobile-bar__list
    {
        opacity: 1;
        transform: translateX(0%);
    }

    .mobile-input-more:checked ~ .overlay
    {
        display: block;
        opacity: 1;
    }

    .mobile-bar__link
    {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.6rem;
    }

    /* pagination */
    .pagination-item
    {
        margin: 0;
    }

    /* app container */
    .app__content
    {
        margin: 0 4px;
    }

    .home-product-item__sale-off
    {
        height: 50px;
    }

    /* footer */
    .footer__heading
    {
        text-align: center;
    }

    .footer__download,
    .footer-item__link
    {
        justify-content: center;
    }

    .footer__download-icon:first-child 
    {
        margin-bottom:15px;
    }


}   
